header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 92px;
    padding-bottom: 90px;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.logo_image {
    width: 148px;
    height: 105px;
    align-items: center;
}

.main_menu-link-list {
    display: flex;
    width: 100%;
    gap: 32px;
    font-size: 18px;
    list-style-type: circle;
}

.main_adress {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
}

.adress {
    margin-left: 185px;
}

.main_menu-link-list-item_no-bullit {
    list-style: none;
}

.link_active {
    text-decoration: none;
}

.cover {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-image: url('..//images/cover.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 757px;
}

.cover_title {
    color: white;
    font-size: 100px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 114.9px;
    z-index: 1;
    letter-spacing: 30px;
    padding-top: 165px;
}

.cover_text {
    display: block;
    position: relative;
}

.aligned-text {
    padding-bottom: 20px;
}

.aligned-text_left {
    text-align: start;
    padding-left: 20px;
}

.aligned-text_center {
    text-align: center;
    padding-left: 30px;
}

.aligned-text_right {
    text-align: end;
    padding-left: 633px;
}

.description {
    display: flex;
    align-items: center;
    position: relative;
    gap: 107px;
    color: white;
    font-family: 'Raleway', 'Arial', regular;
    text-transform: uppercase;
    line-height: 28px;
    word-spacing: 18px;
    font-size: 22px;
    padding-bottom: 45px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 100px;
}

button {
    font-family: 'Raleway', 'Arial', regular;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 1px solid;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 31px;
    padding-right: 32px;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 0;
}

.lots {
    padding: 180px 24px 0;
}

.lots_title {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 35px;
    margin-left: 40px;
}

.lots_card-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: flex-start;
}

.lots_card-list-item {
    min-height: 596px;
}

.lots_card-link {
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 334px;
    height: 100%;
}


.card_link {
    position: relative;
    height: 100%;
    text-decoration: none;
}

.card_title {
    color: white;
    font-size: 22px;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 1;
    max-width: 255px;
    margin-top: 48px;
    margin-left: 40px;
    margin-right: 40px;
}

.card_text {
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
    z-index: 1;
    margin-bottom: 48px;
    margin-left: 40px;
    margin-right: 40px;
}

.card_type-film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type-book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type-picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots_look-more-link {
  position: relative;
  font-size: 20px;
  color: #000;
  text-underline-offset: 4px;
  text-decoration: underline;
  padding-left: 40px;
  top: 30px;
}

.about {
  width: 1052px;
  padding: 115px 24px 0 24px;
}

.about_content {
  display: grid;
  grid-template-columns: 314px 1fr;
  padding-top: 35px;
  padding-left: 47px;
}

.about_image-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}

.about_image {
    width: 148px;
    height: 114px;
    object-fit: contain;
}

.about_column {
    line-height: 24px;
}

.about_text-paragraph {
    padding-right: 24px;
}

.about_title {
    margin: 100px 0 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 135%;
    text-transform: uppercase;
}

.about_text {
    margin: 0 0 24px;
    font-size: 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 155px 50px 80px 0px;
    color: #333;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.adress-link {
    margin-left: 50px;
    justify-content: start;
}

.menu_link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_link {
    display: block;
    font-size: 18px;
    text-align: center;
}

.social_list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.social_icon {
    width: 48px;
    height: 48px;
}